body {
    background-image: url("background.jpg");
    background-size: 1500px 700px;
    background-repeat: no-repeat;
}
form{
    padding-left:80%;
    padding-right: 6%;
    padding-top: 1%;
    color: antiquewhite;
    font-size: medium;
    font-family: "Comic Sans MS";
}
select{
    width: 100%;
}

.btn{
    width: 35%;
}
.centered
{
    text-align: center;
}
.container{
    padding-left:10%;
    padding-right:10%;
    font-color:antiquewhite;
    font-size: large;
    font-family: "Comic Sans MS";
}
.btn-group{
    width:100%;
}